* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.navbar__vertical-line {
    height: 50px;
    position: absolute;
    top: 23px;
    border-left: 2px solid black;
    margin-left: 115px;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.navbar__image {
    width: 30px;
    height: auto;
    margin-right: 10px;
    color: white;
}

.star-wars {
    display: flex;
}

.star-wars__left-side {
    flex: 1;
}

.star-wars__image {
    width: 700px;
    height: 600px;
    border-radius: 50%;
    float: right;
}

.star-wars__right-side {
    flex: 1;
    position: relative;
}

.star-wars__text {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 60px;
    margin: 10px 0;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

a {
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.star-wars__arrow-down {
    width: 30px;
    animation: arrowBlink 1s infinite;
}

@keyframes arrowBlink {
    100% {
        opacity: 0;
    }
}