* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background:url(https://s3.amazonaws.com/wp_media-prod/app/uploads/2015/10/21135602/star-wars-space.jpg) 50% 0 no-repeat fixed;
}

.main {
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.navbar h1 {
    color: #f5c91c;
    font-size: 25px;
}

.navbar__vertical-line {
    height: 50px;
    position: absolute;
    top: 23px;
    border-left: 2px solid #CFAA17;
    margin-left: 110px;
}

.navbar__items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

span {
    color: #f5c91c;
}

.navbar__image {
    width: 30px;
    height: auto;
    margin-right: 10px;
    color: white;
}

.star-wars {
    display: flex;
}

.star-wars__left-side {
    flex: 1;
}

.star-wars__image {
    width: 700px;
    height: 600px;
    border-radius: 50%;
    float: right;
}

.star-wars__right-side {
    flex: 1;
    position: relative;
}

.star-wars__text {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.star-wars__title {
    font-size: 60px;
    margin: 10px 0;
    color: #f5c91c;
}

h2 {
    font-size: 35px;
    color: #f5c91c;
}

h3 {
    font-size: 30px;
    color: #f5c91c;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.star-wars__arrow-down {
    position: absolute;
    bottom: 10px;
    left: 40%;
    width: 50px;
    animation: arrowBlink 1s infinite;
}

@keyframes arrowBlink {
    100% {
        opacity: 0;
    }
}

#api-items {
    width: 100vw;
    height: 100vh;
}

.api-items__title {
    color: #f5c91c;
    text-align: center;
    font-size: 40px;
}

.api-items__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.api-items__navbar a {
    color: orangered;
    padding: 15px 30px;
    text-decoration: none;
}

.api-items__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    line-height: 1.7;
    margin: 20px 0;
    color: #f5c91c;
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
    cursor: wait;
}

.loading {
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    animation-name: pulse;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}